.iti-flag {
  background-image: asset-url('flags') !important;
}

@media (-webkit-min-device-pixel-ratio:2),
  (min-resolution:192dpi) {
  .iti-flag {
    background-image: asset-url('flags@2x') !important;
  }
}
